.accordion__item {
  position: relative;
  border-top: 1px solid $gray;

  &:last-child {
    border-bottom: 1px solid $gray;
  }
}

.accordion__title-wrapper {
  position: relative;
  cursor: pointer;
  padding: 0.5em 2.5em 0.5em 4.5em;
  min-height: 3.5em; // The height of the expand/collapse icon.
}

.accordion__title-wrapper:before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  left: 1rem;
  content: '+';
  font-size: 2.5em;
  color: $gray;
}

.accordion__item.is-open .accordion__title-wrapper:before {
  content: '-';
}

.accordion__content-wrapper {
  padding: 0 2.5em 0 4.5em;
}

//@include breakpoint($mobile-only) {
//  .accordion__title-wrapper {
//    padding: 0.5em 3em 0.5em 1em;
//
//    &:after {
//      position: absolute;
//      top: 50%;
//      transform: translateY(-50%);
//      font-family: "tableau-icons";
//      display: inline-block;
//      right: 0.5rem;
//      content: icon($icon--chevron-down-style2);
//      font-size: 2.5em;
//      color: $accent-dividers;
//    }
//  }
//
//  .accordion__item.is-open .accordion__title-wrapper:after {
//    content: icon($icon--chevron-up-style2);
//  }
//
//  .accordion__content-wrapper {
//    padding: 0 1em;
//  }
//}
