.info-card {
  max-width: 300px;
  text-align: center;
}

.info-card__title {
  font-family: $font-bitter;
  font-size: $font-size-med-2;
  margin-top: 1em;
}

.info-card__body {
  margin-top: 1em;
}

.info-card__image {
  margin: 0 auto;
  width: 150px;

  & img {
    border-radius: 50%;
  }
}

.info-card__link {
  font-size: $font-size-small-2;
  font-style: italic;
  text-decoration: underline;
  margin-top: 1em;
}
