.hidden {
  display: none; }

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px); }

.visually-hidden.focusable {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px); }
  .visually-hidden.focusable:active, .visually-hidden.focusable:focus {
    position: static !important;
    clip: auto;
    height: auto;
    width: auto;
    overflow: auto; }

.invisible {
  visibility: hidden; }

.media-item__image img {
  display: block; }

.media-item__caption {
  font-size: 0.875rem;
  margin-top: 4px;
  max-width: 100%;
  word-wrap: break-word; }

.media-item__responsive-video {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative; }
  .media-item__responsive-video iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; }
  .media-item__responsive-video video {
    width: 100%; }

.message {
  background: no-repeat 10px 17px;
  border: 3px solid;
  padding: 15px 20px 15px 35px;
  word-wrap: break-word;
  overflow-wrap: break-word; }

.message + .message {
  margin-top: 24px; }

.message__heading {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px); }

.messages__list {
  list-style: none;
  padding: 0;
  margin: 0; }

.message__item + .message__item {
  margin-top: 12px; }

.message--status {
  color: #325e1c;
  background-color: #f3faef;
  border-color: #77b259;
  background-image: url("../images/check.svg"); }

.message--warning {
  background-color: #fdf8ed;
  background-image: url("../images/warning.svg");
  border-color: #e09600;
  color: #734c00; }

.message--error {
  background-color: #ffddde;
  color: #a23433;
  background-image: url("../images/error.svg");
  border-color: #a23433; }

/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/
/*------------------------------------*\
    $MIXINS
\*------------------------------------*/
/* CSS Transition
	Usage: @include transition(width,0.3s,ease-out);
 */
/* Rem Unit font sizes with relative fallback http:/seesparkbox.com/foundry/scss_rem_mixin_now_with_a_better_fallback  
	Usage: @include font-size(1, large);
*/
/*------------------------------------*\
    $RESET
\*------------------------------------*/
/* Border-Box http:/paulirish.com/2012/box-sizing-border-box-ftw/ */
* {
  box-sizing: border-box; }

html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, ol, ul, li, form, legend, label, table, header, footer, nav, section, figure {
  margin: 0;
  padding: 0; }

header, footer, nav, section, article, hgroup, figure {
  display: block; }

@font-face {
  font-family: 'Open Sans';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/OpenSans-Regular-webfont.woff"), url("../fonts/OpenSans-Regular.ttf"); }

@font-face {
  font-family: 'Open Sans Bold';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/OpenSans-Bold-webfont.woff"), url("../fonts/OpenSans-Bold.ttf"); }

@font-face {
  font-family: 'Open Sans Italic';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/OpenSans-Italic-webfont.woff"), url("../fonts/OpenSans-Italic.ttf"); }

@font-face {
  font-family: 'Bitter';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Bitter-VariableFont_wght.ttf"); }

@font-face {
  font-family: 'Bitter Italic';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Bitter-Italic-VariableFont_wght.ttf"); }

/* Links */
a {
  color: #003262;
  text-decoration: none;
  outline: 0; }
  a:hover, a:focus {
    text-decoration: underline; }

body {
  background: #ffffff;
  font: 100%/1.5 "Open Sans", "Helvetica", "Arial", sans-serif;
  -webkit-text-size-adjust: 100%;
  color: #212529; }

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto; }

/*------------------------------------*\
    $MEDIA ELEMENTS
\*------------------------------------*/
/* Flexible Media */
img, video, object {
  max-width: 100%;
  width: 100%;
  height: auto; }

iframe {
  margin-bottom: 1em; }

figure {
  margin-bottom: 1em; }
  figure img {
    margin-bottom: 0.5em; }

figcaption {
  font-style: italic; }

/* Text-Related Elements */
p {
  margin-bottom: 1em; }

/* Blockquote */
blockquote {
  border-left: 1px solid #EEEEEE;
  color: #EEEEEE;
  padding-left: 1em;
  margin-bottom: 1em; }

/* Horizontal Rule */
hr {
  border: 0;
  height: 2px;
  background: #EEEEEE;
  margin: 2em 0; }

abbr {
  border-bottom: 1px dotted #EEEEEE;
  cursor: help; }

/* Headings */
/*Further Reading: http:/csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css/ */
h1 {
  line-height: 1.2;
  font-size: 2.15625em;
  margin: 0.5em 0;
  letter-spacing: 1px; }

h2 {
  line-height: 1.2;
  font-family: "Bitter", Georgia, Times, "Times New Roman", serif;
  font-size: 1.4375em;
  margin: 0.5em 0;
  letter-spacing: 1px; }

h3 {
  line-height: 1.2; }

.button {
  display: inline-block;
  font-weight: 600;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: none;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  line-height: 1.5;
  background-color: #FDB515;
  transition: all 0.1s ease-out; }
  .button:hover, .button:focus {
    background-color: #003262; }

a.button {
  color: #003262;
  text-decoration: none; }
  a.button:hover, a.button:focus {
    color: #ffffff; }

.button-small {
  font-size: 1em;
  padding: .5em 1em; }

.info-card {
  max-width: 300px;
  text-align: center; }

.info-card-title {
  font-family: "Bitter", Georgia, Times, "Times New Roman", serif;
  font-size: 1.0625em;
  margin-top: 1em; }

.info-card-body {
  margin-top: 1em; }

.info-card-image {
  margin: 0 auto;
  width: 150px; }
  .info-card-image img {
    border-radius: 50%; }

.info-card-link {
  font-size: 0.875em;
  font-style: italic;
  text-decoration: underline;
  margin-top: 1em; }

.panorama {
  position: relative; }

.panorama-content {
  position: absolute;
  width: 350px;
  color: #ffffff;
  padding: 2em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 50, 98, 0.85); }
  @media (min-width: 39.8em) {
    .panorama-content {
      top: 50%;
      left: 2em;
      transform: translateY(-50%); } }

.panorama-content--cta {
  margin-top: 1.5em; }

.info-row {
  padding: 3em 0; }

.info-row-gray {
  background-color: #EEEEEE; }

.info-row-teal {
  background-color: #4F758B; }
  .info-row-teal .info-card-title,
  .info-row-teal .info-card-body,
  .info-row-teal .info-card-link a {
    color: #ffffff; }

.info-row-title {
  text-align: center;
  font-size: 2em; }

@media (min-width: 50em) {
  .info-row-cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-items: center; } }

.info-row-cards .info-card {
  flex: 0 1 20%; }

.hidden {
  display: none; }

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px); }

.visually-hidden.focusable {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px); }
  .visually-hidden.focusable:active, .visually-hidden.focusable:focus {
    position: static !important;
    clip: auto;
    height: auto;
    width: auto;
    overflow: auto; }

.invisible {
  visibility: hidden; }

.media-item__image img {
  display: block; }

.media-item__caption {
  font-size: 0.875rem;
  margin-top: 4px;
  max-width: 100%;
  word-wrap: break-word; }

.media-item__responsive-video {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative; }
  .media-item__responsive-video iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; }
  .media-item__responsive-video video {
    width: 100%; }

.message {
  background: no-repeat 10px 17px;
  border: 3px solid;
  padding: 15px 20px 15px 35px;
  word-wrap: break-word;
  overflow-wrap: break-word; }

.message + .message {
  margin-top: 24px; }

.message__heading {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px); }

.messages__list {
  list-style: none;
  padding: 0;
  margin: 0; }

.message__item + .message__item {
  margin-top: 12px; }

.message--status {
  color: #325e1c;
  background-color: #f3faef;
  border-color: #77b259;
  background-image: url("../images/check.svg"); }

.message--warning {
  background-color: #fdf8ed;
  background-image: url("../images/warning.svg");
  border-color: #e09600;
  color: #734c00; }

.message--error {
  background-color: #ffddde;
  color: #a23433;
  background-image: url("../images/error.svg");
  border-color: #a23433; }

.tabs {
  list-style: none;
  margin: 0;
  padding: 10px 0;
  position: relative; }

.tabs.primary {
  padding: 0; }
  @media screen and (min-width: 768px) {
    .tabs.primary::after {
      background-color: #4f5b66;
      bottom: 0;
      content: '';
      display: block;
      height: 1px;
      left: 0;
      position: absolute;
      width: 100%;
      z-index: -1; } }
  .tabs.primary li {
    display: block;
    font-size: 0.875rem;
    font-weight: bold;
    margin: 0 0 8px;
    padding: 0; }
    @media screen and (min-width: 768px) {
      .tabs.primary li {
        display: inline-block;
        margin: 0 8px 0 0; } }
  .tabs.primary a {
    background-color: #a7adba;
    border: 1px solid #4f5b66;
    color: #4f5b66;
    display: block;
    padding: 8px 24px;
    text-decoration: none; }
    @media screen and (min-width: 768px) {
      .tabs.primary a {
        border-bottom: 0; } }
  .tabs.primary a:focus,
  .tabs.primary a:hover {
    background-color: #fff;
    border: 1px solid #4f5b66;
    border-bottom: 0;
    color: #1b2b34; }
  .tabs.primary .is-active a {
    background-color: #fff;
    border-bottom: 0;
    color: #1b2b34; }

.tabs.secondary {
  margin-top: 10px; }
  .tabs.secondary li {
    display: inline-block;
    font-size: 0.875rem;
    margin: 8px 16px 4px 0; }
  .tabs.secondary a {
    background-color: transparent;
    border-bottom: 2px solid #65737e;
    color: #4f5b66;
    display: block;
    padding: 8px 12px 4px; }
  .tabs.secondary .is-active a,
  .tabs.secondary a:focus,
  .tabs.secondary a:hover {
    background-color: transparent;
    border-color: #1b2b34;
    color: #1b2b34;
    text-decoration: none; }

.tabs__local-actions {
  padding: 16px 0; }

.tabs__local-actions-links {
  margin: 0; }

.tabs {
  list-style: none;
  margin: 0;
  padding: 10px 0;
  position: relative; }

.tabs.primary {
  padding: 0; }
  @media screen and (min-width: 768px) {
    .tabs.primary::after {
      background-color: #4f5b66;
      bottom: 0;
      content: '';
      display: block;
      height: 1px;
      left: 0;
      position: absolute;
      width: 100%;
      z-index: -1; } }
  .tabs.primary li {
    display: block;
    font-size: 0.875rem;
    font-weight: bold;
    margin: 0 0 8px;
    padding: 0; }
    @media screen and (min-width: 768px) {
      .tabs.primary li {
        display: inline-block;
        margin: 0 8px 0 0; } }
  .tabs.primary a {
    background-color: #a7adba;
    border: 1px solid #4f5b66;
    color: #4f5b66;
    display: block;
    padding: 8px 24px;
    text-decoration: none; }
    @media screen and (min-width: 768px) {
      .tabs.primary a {
        border-bottom: 0; } }
  .tabs.primary a:focus,
  .tabs.primary a:hover {
    background-color: #fff;
    border: 1px solid #4f5b66;
    border-bottom: 0;
    color: #1b2b34; }
  .tabs.primary .is-active a {
    background-color: #fff;
    border-bottom: 0;
    color: #1b2b34; }

.tabs.secondary {
  margin-top: 10px; }
  .tabs.secondary li {
    display: inline-block;
    font-size: 0.875rem;
    margin: 8px 16px 4px 0; }
  .tabs.secondary a {
    background-color: transparent;
    border-bottom: 2px solid #65737e;
    color: #4f5b66;
    display: block;
    padding: 8px 12px 4px; }
  .tabs.secondary .is-active a,
  .tabs.secondary a:focus,
  .tabs.secondary a:hover {
    background-color: transparent;
    border-color: #1b2b34;
    color: #1b2b34;
    text-decoration: none; }

.tabs__local-actions {
  padding: 16px 0; }

.tabs__local-actions-links {
  margin: 0; }
