// Most of this code is copied from berkeley.edu. 
// Might need to pull h2.block-header out of events, maybe ev

.events {
  max-width: 360px;
  width: 100%;
  .block-header {
    margin-left: 20px;
  }
  .date {
    display: inline-block;
    background: transparent;
    width: 68px;
    height: 68px;
    border-right: 1px solid #ddd;
    text-align: center;
  }
  .month {
    font-size: $font-size-med;
    text-transform: uppercase;
    display: block;
    line-height: $font-size-med-2;
    color: $berkeley-blue;
  }
  .day {
    font-size: $font-size-med-2 * 2;
    line-height: $font-size-med-2;
    color: $berkeley-blue;
    font-family: $font-bitter;
  }
}
.session {
  margin-top: 15px;
  display: flex;
  &:first-child {
    margin-top: 0;
  }
  &-list {
    padding-left: 0;
    list-style: none;
  }
  &-left, &>.pull-left {
    padding-right: 10px;
  }
  &-body {
    h3 {
      margin: 0;
      font-size: $font-size-med;
      line-height: $font-size-large;
      font-weight: 600;
    }
  }
}