{# Source:
  /web/modules/custom/bglobal_angular/components/info_sessions_advising/template.html
#}
<div class="advising__info_session">
  <h2 class="block-header">Info Sessions</h2>
  <img class="quote-image" data-srcset="/international/professional/common/images/mariam-rahimi.png" src="/images/avatar-lazyload.svg" alt="Student Advisor Mariam Rahimi" data-ng-init="infoSessions.lazyLoadImages()"/>
  <p><a href="hello.html">Hello!</a></p>
  <div>
    {# data-ng-repeat="session in infoSessions.blogs.sessions | limitTo:1" #}
    <div>
      <p class="blockquote">"Please join us for a free <a data-ng-href="{{ session.enroll }}" target="_blank">online information session</a>."</p>
      <p class="caption">&mdash;Mariam Rahimi, Admissions Adviser</p>
    </div>
  </div>
</div>
