<div class="testimonial">
	<div class="testimonial-image">
		{{ testimonial.img }}
	</div>
	<div class="testimonial-body">
		{{ testimonial.body }}
	</div>
	<div class="testimonial-link">
		{{ testimonial.link }}
	</div>
</div>
