.btn {
  display: inline-block;
  font-weight: 600;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  text-transform: uppercase;
  text-decoration: none;
  padding: .25rem .675rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0px;
  transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
}

.btn-lg,
.btn-group-lg>.btn {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  line-height: 1.5;
  border-radius: 0px;
}

.btn-warning {
  color: #053b6e;
  background: $yellow-primary linear-gradient(180deg, #f4b626, #F2A900) repeat-x;
  border-color: $yellow-primary;
}
