{#
/**
 * @file
 * Default theme implementation to display a Pardot form.
 *
 * Available variables:
 * - action_url: The URL to use for form submission.
 * - message: A message to display on form submit.
 *
 * @see template_preprocess_bglobal_pardot_form()
 *
 * @ingroup themeable
 */
#}
{% block form %}

  <form action="{{ action_url }}" method="post">
    <div>
      <label>First Name</label>
      <input type="text" name="firstname" required=”required” />
    </div>
    <div>
      <label>Last Name</label>
      <input type="text" name="lastname" required=”required” />
    </div>
    <div>
      <label>Email Address</label>
      <input type="email" name="email" required=”required” />
    </div>
    <div>
    <input type="submit" value="submit" required="required" />
    </div>
  </form>

{% endblock form %}
