<section class="info-row info-row--{{ info_row.bg }}">
	{% if info_row.title %}
		<h2 class="info-row__title">
			{{ info_row.title }}
		</h2>
	{% endif %}

	<div class="info-row__cards container">
		{% for info_card in info_row.cards %}
			{% include '@molecules/info-card/info-card.twig' %}
		{% endfor %}
	</div>
</section>
