<div id="page-wrapper" {% if modifier_class %}class="{{ modifier_class }}"{% endif %}>
	<div id="page">
		{% block page_header %}
			{% include "@organisms/header/header.twig" %}
		{% endblock %}

		<div id="main">
			<main id="main-content" class="main-content{% if not full_width %} container{% endif %}" role="main">
				<div class="content{% if not full_width %} container{% endif %}">

					{% block page_content %}

					{% endblock %}

				</div>
			</main>
		</div>

		{% block page_footer %}
			{% include "@organisms/footer/footer.twig" %}
		{% endblock %}
	</div>
</div>
