<!-- Reference:
  /web/themes/custom/bglobal/source/_patterns/01-molecules/info-sessions-list/info-sessions-list.twig
 -->
<div class="events " *ngIf="view.count > 0">
  <h2 class="events__header block-header">Info Sessions</h2>
  <ul class="events__list" >
    <li class="event__list__item" *ngFor="let session of sessions | slice:0:limit;">
      <div class="event__list__item--left">
        <div class="event__date">
          <span class="event__date__month">{{ session.jsDate | date:'MMM' }}</span> <span class="event__date__day">{{ session.jsDate | date:'dd' }}</span>
        </div>
      </div>
      <div class="event__list__item__body">
        <span class="event__title">
          <a [href] = "session.enroll">{{session.title}}</a>
        </span>
     </div>
    </li>
  </ul>
  <a class="more-link" href="/">More Info Sessions</a>
</div>
<div class="events events--no-result" *ngIf="view.count <= 0"><h2>No Info Sessions to show!</h2></div>
<!-- TODO: Fallback when no info sessions to show -->
