/* ==========================================================================
	COMMON-LESS
	Changes made in this file will have no effect on layout until the master LESS file is recompiled.
	See instructions in publicViewCustomization.scss

   ========================================================================== */

/* Skip to main content code */
a.skip {
  position: absolute;
  top: -1000px;
  left: -1000px;
  height: 1px;
  width: 1px;
  text-align: left;
  overflow: hidden;
  &:active, 
  &:focus, 
  &:hover {
    left: 0; 
    top: 0;
    width: auto; 
    height: auto; 
    overflow: visible; 
    color: white;
    z-index: 999;
  }
}
.header-cal > .navbar {
    padding: 0px;
}
.navbar ul {
  list-style: none;
  padding-left: 0;
}

.navbar-mobile-toggle {
  display: block;
  background-color: transparent;
  border: 1px solid transparent;
  border-color: transparent;
  margin: 8px 0;
  padding: 13px 10px;
  position: absolute;
  right: 0;
  top: -57px;
  &:active {
    background-color: transparent;
  }
  .icon-bar {
    background: none repeat scroll 0 0 #fff;
    margin-top: 4px;
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
  }
  @media screen and (min-width: 992px) {
    display: none;
  }
}

#top-banner {
	border-top-color: #003262;
	border-top: 46px solid #003262;
	padding-top: 0;
	position: relative;
	-webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2);
	box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2);
	background: white;//transparent;
}

.logged-in {
	#loginInfo {
		display: flex;
		justify-content: flex-end;
	}
}
#logoutLinkWrapper {
  display: none;
}
#loginInfo {
  text-align: center;
	a, .headerProfileLink, .headerLogoutLink { // headerLogoutLink added for Corporate
		color: $primary; // Removed !important so I can overrule on BHGAP
	}
	 > div {
    width: 100%;
    max-width: 100%;
	}
}	

#cartDivContainer {
  .badge-warning {
    top: -3px;
    left: -5px;
    font-size: 11px;
    padding: 1px 5px;
  }
}
#cartInfo {
  min-width: 40px;
  a {
    color: $primary;  
    // @media (min-width: map-get($grid-breakpoints, "sm")) {
    border-color: transparent;
    background-color: transparent;
    // }
  }
}
#cartCount {
	background-color: $warning;	
	color: $dark;
  font-size: 0.7em;
  padding: 0.1em 0.35em;
  vertical-align: top;
  position: relative;
  margin: 0;
  top: -2.3em;
  left: 1em;
}
.glyphicon-shopping-cart { 
  font-size: 1em;
  color: white;
  margin-top: 3px;
}
.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  line-height: 1;
  vertical-align: baseline;
  white-space: nowrap;
  text-align: center;
  background-color: #aaa;
  border-radius: 10px;
}

#loginInfo, #cartInfo, #clpHeader1ContentWrapper {
    line-height: inherit;
}

.secondary-navbar {
  justify-content: flex-end;
  font-size: 12px;
  padding: 0 260px 0 125px;
  top: -42px;
  width: 100%;
}
.secondary-menu {
  display: flex;
  min-width: 300px;
}
.secondary-menu-link {
  display: flex;
  align-items: center;
  & > a, & > button {
    color: white;
    &:hover {
      color: white;
    }
    margin: 0 10px;
    text-decoration: none;
    &:hover, &:focus {
      text-decoration: underline;
    }
  }
}
.secondary-menu-link > .dropdown-menu {
  top: 100%;
  background: white;
  width: 250px;
}

.navbar-brand {
  margin-right: 11.5rem;
  a {
    text-decoration: none;
    font-weight: 400;
  }
  .wordmark {
    display: block;
    float: left;
    height: 90px;
    margin: 0;
    width: 130px;
  }
  .site-name {
    color: #c4820e;
    font-family: "freight-sans-pro","Open Sans",sans-serif;
    font-size: 28px; // 45px; 28px; 18px; 
    height: auto;
    max-height: 2.59em;
    padding: 0;
    margin: 0px;
    text-decoration: none;
    font-weight: lighter;
  }
}

.main-menu {
  display: block;
}
.menu-link {
  a, button {
    color: $primary;
    text-decoration: none;
    &:hover, &:focus {
      text-decoration: underline;
    }
  }
}
.dropdown-toggle:after {
  color: #c4820e;
}
.megamenu-wrapper {
  .megamenu-submenu {
    padding-left: 1em;
  }
  .megamenu-submenu li {
    font-size: 1.2em;
    a {
      color: $primary;
      padding: 5px 0px;
      &:hover {
        background: none;
        text-decoration: underline;
      }
    }
  }
  .megamenu-submenu li.megamenu-submenu_title {
    font-size: 18px;
    font-family: $font-family-serif-pv3; // FLAG: NEW FONT
    color: grey;
  }
  .megamenu-submenu_links {
    padding: 0;
  }
}

// Overload base.css 
.conferenceLogoutButtonWrapper:before {
    content: "";
}
header a.menuLink, .dropdown-menu > .dropdown-item {
  @media (min-width: map-get($grid-breakpoints, "md")) {
    white-space: nowrap; // prevent links from randomly breaking onto new lines
  }
  border-bottom: 1px solid #efefef;
  text-decoration: none;
  // Prevent dropdown overflow if there's no padding
  // See https://github.com/twbs/bootstrap/pull/27703
  @if $dropdown-padding-y == 0 {
    &:first-child {
      @include border-top-radius($dropdown-inner-border-radius);
    }

    &:last-child {
      @include border-bottom-radius($dropdown-inner-border-radius);
    }
  }

  @include hover-focus {
    color: $dropdown-link-hover-color !important;
    text-decoration: none;
    @include gradient-bg($dropdown-link-hover-bg);
  }

  &.active,
  &:active {
    color: $dropdown-link-active-color !important;
    text-decoration: none;
    @include gradient-bg($dropdown-link-active-bg);
  }

  &.disabled,
  &:disabled {
    color: $dropdown-link-disabled-color !important;
    pointer-events: none;
    background-color: transparent;
    // Remove CSS gradients if they're enabled
    @if $enable-gradients {
      background-image: none;
    }
  }
  @extend .dropdown-item;
}
#contentHeader { // Def neeeded in PV2
  border: none !important;
	margin-bottom: 0px;
  padding-top: 0;
	padding-bottom: 0;
	h1 {
		margin-top: 1rem;
	}
	#pageHeaderActions {
		padding-bottom: 1rem;
	}
  & > .row:first-child {
    display: flex;
    align-items: center;
  }
  #portalHomeHeaderRow2 {
    margin-bottom: 0px;
  }
}
// END Overload base.css 

#pageHeader {
  margin-top: -1px; // this is a weird hack for FF and IE. I don't know why this works, but it does.
  // min-height: var(--content-header-height); 
  // display: flex;
  // align-items: center;
	// h1 {
 	//   padding-left: 15px; I don't think this is needed with new header
	// }
  // .make-sm-column(8); I don't think this is needed with new header
}
// This was wrapping in Firefox
#pageHeaderActions {
  display:none; 
  float: none;   
  height: 100%;
}

.header-background {
  background-color: $light;
  position: relative;
}

.navbar-collapse {
  display: none;
  &.show {
    display: flex;
  }
  @media (min-width: map-get($grid-breakpoints, "sm")) {
    display: flex !important;
    // & > ul > li:first-child {
      // margin-left: -1 * $nav-link-padding-x;
    // }
  }
}

.dropdown.nav-item>button.dropdown-toggle {
    background: none;
    border: none;
}

.dropdown-toggle {
    white-space: nowrap;
}

#breadcrumb {
    display: none;
}


$secondary-nav-mobile-font: 16px;
@media (min-width: map-get($grid-breakpoints, "md")) {
  .secondary-navbar {
    position: absolute;
  }
  #loginWelcomeDiv {
    color: $white;
  }

	#searchbar-collapse {
    display: block;
    right: 0;
    top: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 250px;
    z-index: 1;
    .form-control {
      background-color: #fff;
      border: 1px solid #ccc;
      height: 35px;
      display: inline-block;
      vertical-align: middle;
    }
	}
  
  .secondary-navbar.mobile-collapse {
    display: flex !important;
  }
  .secondary-menu {
    justify-content: flex-end;
    margin-top: 2px;
  }
  .secondary-menu-link {
    #loginInfo a {
      //#loginInfo .headerProfileLink, #loginInfo .headerLogoutLink 
      color: white;
    }
    a {
      line-height: 32px;
      text-decoration: underline;
    }
    & > .dropdown-menu {
      right: -120px;
      left: auto !important;
    }
  }
  .primary-navbar {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;
  }
  .primary-navbar_submenu {
    left: 0;
    padding: 0 2em;
    width: 100%;
  }
  .navbar-brand {
    .wordmark {
      height: 73px;
      width: 176px;
    }
    .site-name {
      font-size: 36px;
    }
  }

  .navbar-elements {
    -webkit-box-shadow: none;
  }
  .navbar-elements.mobile-collapse {
    display: flex !important;
    width: 100%;
  }
  .main-menu {
    display: flex;
  }
  .menu-link {
    position: static;
  }
  // MEGAMENU
  .megamenu-wrapper {
    display: grid;
    grid-gap: 0;
    .megamenu-column {
      display: block;
      padding: 2em;
      position: relative;
    }
    .megamenu-submenu {
      padding: 0;
      border-bottom: none;
      margin-bottom: 10px;
    }
    .vl { /* vertical line */
      position: absolute;
      border-left: 1px solid grey;
      top: 2em;
      right: 0;
      height: 75%;
    }
  }
  .dropdown-menu_fullwidth {
    width: 100% !important;
  }

	#contentHeader {
		h1 {
			margin-top: 1.5rem;
			margin-bottom: 1.5rem;
      & + h2 {
        margin-top: -1em !important;
        margin-bottom: 1.5em !important;
      }
    }
		#pageHeaderActions {
			padding-bottom: 0;
    }
  }	
}

@media only screen and (min-width: map-get($grid-breakpoints, "lg")) {
  .navbar-brand {
    .wordmark {
      height: 90px;
      // margin: 1px 5px 0px 0;
      width: 200px;
    }
    .site-name {    
      font-size: 45px;
      line-height: 1.9em;
    }
  }
}

@media (max-width: map-get($grid-breakpoints, "md") - 1) {
  .header-cal .nav-stud-account .loginInfo .headerStudentLoginContainer .dropdown-menu {
    display: block;
  }
  .navbar {
    height: auto;
  }
  //MOBILE BUTTON
  .navbar-brand {
    .wordmark {
      // margin: 0 0 0 10px;
      width: 130px;
    }
    .site-name {
      //font-size: 28px;
      line-height: 84px;
    }
  }
  .primary-navbar {
    width: 100%;
  }
  .navbar-elements.mobile-collapse.show {
    padding-top: 80px;
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    box-shadow: inset 0 1px 0 rgba(126,103,103,0.1);
  }

  .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .secondary-menu {
    bottom: 0px;
    left: 20px;
    display: block;
    position: absolute;
  }
  .secondary-menu-link {
    & > a, 
    & > button {
      color: $primary;
      &:hover {
        color: $primary;
      }
      padding: $nav-link-padding-y $nav-link-padding-x;
      margin: 0;
      font-size: $secondary-nav-mobile-font;
    }
    #loginInfo {
      padding: $nav-link-padding-y $nav-link-padding-x;
    }
  }
  #searchbar-collapse {
    display: block;
    position: absolute;
    left: 22px;
    width: 90%;
  }
  #cartDivContainer {
    position: absolute;
    top: -42px;
    right: 35px;
  }
  .megamenu-wrapper {
    display: block;
    .megamenu-submenu {
      li.megamenu-submenu_title {
        font-size: 15px;
      }
      li {
        font-size: 15px;
        margin-bottom: 0;
        a {
          padding: 0;
        }
      }
    }
  }
  .header-unex {
    display: block !important;
    // SEARCH
    .form-control {
      background-color: #eee;
      border: 0;
      border-radius: 4px;
      height: 44px;
      padding: 6px 12px;
      font-size: 15px;
      line-height: 1.46667;
      color: #555555;
    }
    #searchbar-collapse {
      display: block;
      position: absolute;
      top: 8.1em;
      left: 20px;
      width: 90%;
    }
    // LOGIN
    .nav-stud-account {
      .loginInfo {
        .headerStudentLoginContainer {
          // .headerStudentLoginDropdownLink, #loginDropdownMenuButton {
            
          // }
          .dropdown-menu {
            .dropdown-item {
              line-height: 28px;
              font-size: $secondary-nav-mobile-font;
              color: $primary;
              text-decoration: underline;
            }
          }
        }
        .login-item {
          color: $primary;
          text-decoration: underline;
        }
      }
    }
  }
  #contentHeader {
    #portalHomeHeaderRow2 {
        font-size: 80%;
    }
  }
}

/* Landscape phones and portrait tablets and bigger */
/* Bootstrap .col-sm- */
@media (min-width: map-get($grid-breakpoints, "sm")) {
  #cartInfo {
    .glyphicon-shopping-cart {
        font-size: 1.5em;
    }
  }
  #cartCount {
    font-size: 1em;
    padding: 0.2em 0.35em;
  }
}

/* Landscape phones and portrait tablets */
/* Bootstrap .col-xs- */
@media (max-width: 767px) {
	#loginInfo {
    min-width: 4.5em; // Was breaking screen widths > 613
    width: 100%;
    display: flex;
	}
  #cartInfo {
		margin-right: 0px;
	}
}

@media (max-width: map-get($grid-breakpoints, "xs") - 1) {
  #top-banner {
    height: auto !important;
    & >.grid-container, #ext-banner>.grid-container {
      display: grid;
      grid-template-columns: var(--spacer-md, 10px) 1fr;
      grid-auto-rows: auto;
      grid-template-areas:
          ". col1"
          ". col6";
    }
  }
}
