#top-banner {
  .site-logo__image {
    max-width: 350px;
  }
}

.pre-header {
  background-color: $berkeley-blue;
  color: $white;

  a {
    color: $white;
  }
}

.navbar {
  // to place utility and search
  border-top: 2.5em solid $berkeley-blue;
}

.header-cal {
  padding: 1em 0;
  
  @include breakpoint(992px) {
    // for menu dropdown placement
    position: relative;
    
    padding: 2em 0;
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
  }
}
