#top-banner {
  .site-logo__image {
    max-width: 350px;
  }
}

.secondary-navbar {
  background-color: $berkeley-blue;
  color: $white;

  a {
    color: $white;
  }
}

.navbar {
  padding: 2em 0;
}
