.secondary-navbar {

  a {
    color: $berkeley-blue;
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
      outline: $berkeley-blue solid 1px;
    }
  }

  @include breakpoint($bp-med) {
    position: absolute;
    top: -2.25em;
    right: 300px;
    font-size: .8em;

    a {
      color: $white;
      text-decoration: underline;

      &:hover,
      &:active,
      &:focus {
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: 2px;
      }
    }

    ul {
      display: flex;
    }

    li {
      margin-right: 2em;
    }
  }
}

