.navbar .grid-container {
  position: relative;
}

.secondary-navbar {

  @include breakpoint($bp-large) {
    position: absolute;
    top: -2.25em;
    right: 300px;
    font-size: .8em;
  }

  a {
    color: $white;
    text-decoration: underline;
  }

  ul {
    @include breakpoint($bp-large) {
      display: flex;
    }
  }
}

li.secondary-menu-link {

  @include breakpoint($bp-large) {
    margin-right: 2em;
  }
}
