<ul id="secondary-menu" class="secondary-menu nav" aria-label="secondary navigation">
	<li class="secondary-menu-link leaf menu-link-agents"><a href="/international/agents" title="Agents" >Agents</a></li>
	<li class="secondary-menu-link leaf menu-link-partners"><a href="/international/academic-partners" title="Academic Partners">Partners</a></li>
	<jsp:include page="/custom/common/secondary-nav-login.jsp" />
</ul>
