<div class="your-study-options">
  {% for certificate in program.certificates %}
    {% if certificate %}
      {% set certificate = certificate|merge({'deliveryMethod': program.delivery}) %}
      {% include "@molecules/program-options-card/program-options-card.twig" with certificate %}
    {% endif %}
  {% endfor %}
</div>
<ul>
  <li>Certificates without prerequisites can be taken individually.</li>
  <li>The program structure is designed to meet the needs of visiting students on an F1 Visa.</li>
  <li>Graduates of two semester long Full-Time Certificates meet the requirements to apply for OPT.</li>
  <li>Students must have a minimum of three years of undergraduate coursework for admission.</li>
  <li>International students must meet English Language Proficiency Requirements.</li>
  <li>Fees include tuition, health insurance and student services.</li>
</ul>