body {
	background: $white;
	font: 100%/1.5 $font;
	-webkit-text-size-adjust: 100%;
	color: $text-gray;
}

#main {
  @include breakpoint($bp-med) {
    min-height: 400px;
  }
}

.container {
  @include container;
}

.bg-light {
  background-color: $bg-gray;
}

.bg-teal {
  background-color: $teal;
  h2, h3, h4, h5, 
  .h2, .h3, .h4, .h5,
  p, span {
    color: white;
  }
  a {
    color: $california-gold;
  }
}
