#footer {
  height: 300px;
  margin-top: 2em;
  padding: 3em .5em;

  .site-logo__image {
    max-width: 210px;
  }

  .grid-container {
    display: flex; // remove after grid styling is in place.
  }
}

span.footer__info,
span.footer__info a {
  text-align: center;
  display: inline-block;
}
