/* Headings */
/*Further Reading: http:/csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css/ */
h1, h2, h3, h4, h5, h6 {
  font-family: $font-bitter;
  color: $black;
}

h1, .h1 {
	// line-height: 1.2;
  font-size: $font-size-med * 4;
  margin: $space-half 0;
  letter-spacing: 1px;
}

h2, .h2 {
  font-size: $font-size-med * 3;
  margin: $space-half 0;
  letter-spacing: 1px;
}

h3, .h3 {
  font-size: $font-size-med * 2;
  margin: $space-half 0;
}

h4, .h4 {
  font-size: $font-size-med * 1.625;
  margin: $space-half 0;
  font-weight: 400;
}

h5, .h5 { 
  font-size: $font-size-med * 1.5;
}
h6, .h6 { 
  font-size: $font-size-med * 1.125;
}

.lead {
  font-family: $font-light;
  font-size: $font-size-med * 1.5;
  font-weight: 200;
}

.body-1 {
  font-family: $font;
  font-size: $font-size-med-2;
}

p, .body-2 {
  font-family: $font;
  font-size: $font-size-med;
}

.caption {
  font-size: $font-size-small-2;
}

.emphasis {
  font-weight: bold;
}

.block-header {
  font-size: $font-size-med * 1.2; //12px
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: thin;
  // color: $berkeley-blue;
  font-family: $font-light;
}

.list-style-none {
  list-style-type: none;
}
