/* Headings */
/*Further Reading: http:/csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css/ */
h1 {
	line-height: 1.2;
  font-size: $font-size-large * 1.5;
  margin: $space-half 0;
  letter-spacing: 1px;
}

h2 {
	line-height: 1.2;
  font-family: $font-bitter;
  font-size: $font-size-large;
  margin: $space-half 0;
  letter-spacing: 1px;
}

h3 {
	line-height: 1.2;
  font-size: $font-size-large;
  margin: $space-half 0;
}

h4 {
	
}

h5 {
	
}

h6 {
	
}
