{# Source:
  /web/modules/custom/bglobal_angular/components/voices_list/template.html
#}
<div class="voices">
  <h2 class="block-header">Latest</h2>
  <div class="posts">
    {% for post in posts %}
      <a href="{{ post.path }}" class="post">
        <div class="post-img">
          <img src="{{ post.image.src }}" alt="{{ post.image.alt }}" />
        </div>
        <p class="post-title">
          <strong>{{ post.title }}</strong>
        </p>
      </a>
    {% endfor %}
  </div>
</div>