<!-- Reference:
  /web/themes/custom/bglobal/source/_patterns/01-molecules/voices-list/voices-list.twig
 -->
 <div class="voices__list">
  <h2 class="voices__list__header block-header">Latest</h2>
  <div class="voices__teaser__list">
    <!-- TODO: RENAME TO TEASER -->
    <a *ngFor="let post of posts | slice:0:3;" data-ng-cloak class="voices__teaser__block" [href] = "post.path">
      <div class="voices__teaser__image">
        <img [src] = "post.image.src" [alt] = "post.image.alt" class="voices__teaser__image__el"/>
      </div>
      <p class="voices__teaser__title">
        <strong>{{ post.title }}</strong>
      </p>
    </a>
  </div>
  <a clsss="more-link" href="/">More More</a>
</div>
