<div class="video-embed">
	{% if video_embed.title %}
		<h3 class="video-embed__title">{{ video_embed.title }}</h3>
	{% endif %}
	<div class="video-embed__video">
		{{ video_embed.video }}
	</div>
	{% if video_embed.caption %}
		<div class="video-embed__caption">{{ video_embed.caption }}</div>
	{% endif %}
</div>
