.column-section {
  padding: 2em 1.5em 3em;

  @include breakpoint($bp-med) {
    padding: 3em 1em 5em;
  }
}

.column-section--gray {
  background-color: $gray;
}

.column-section--teal {
  background-color: $teal;

  p,
  h3 {
    color: $white;
  }
}

.column-section__title {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: $space;

  @include breakpoint($bp-med) {
    font-size: 2em;
  }
}

.column-section__items {

  @include breakpoint($bp-med) {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;

    > * {
      flex-grow: 1;
      flex-basis: 0;
    }

    > *:not(:last-child) {
      margin-right: $space * 4;
    }
  }
}
