.column-section {
  padding: 3em 1em;
}

.column-section--gray {
  background-color: $gray;
}

.column-section--teal {
  background-color: $teal;

  p,
  h3 {
    color: $white;
  }
}

.column-section__title {
  text-align: center;
  font-size: 2em;
  margin-bottom: $space;
}

.column-section__items {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;

  > * {
    flex-grow: 1;
    flex-basis: 0;
  }

  > *:not(:last-child) {
    margin-right: $space * 4;
  }
}
