<section class="column-section {% if column_section.bg %}column-section--{{ column_section.bg }}{% endif %}">
	{% if column_section.title %}
		<h2 class="column-section__title container">
			{{ column_section.title }}
		</h2>
	{% endif %}

	<div class="column-section__items container">
		{% block column_section_items %}
			{% include '@molecules/body-copy/body-copy.twig' %}
			{% include '@molecules/video-embed/video-embed.twig' %}
		{% endblock %}
	</div>
</section>
