<div id="page-wrapper" class="{{ classes }}">
	<div id="page">
		<header id="header">
			{% block header %}
				{% embed "@organisms/header/header.twig" %}
				{% endembed %}
			{% endblock %}
		</header>

		<div id="main" class="container">
			<main class="main-content" role="main">
				<a id="main-content" tabindex="-1"></a>
				{# {{ page.banner_top }} #}
				<div class="content container">
					{# used for alerts and other drupal messages #}
					{% block highlighted %}

					{% endblock %}

					{% block page_header %}

					{% endblock %}

					{% block page_content %}

					{% endblock %}

				</div>
			</main>
		</div>

		{% block footer %}
			{% include "@organisms/footer/footer.twig" %}
			{# {{ page.footer }} #}
		{% endblock %}
	</div>
</div>
