<div class="l-main" style="padding: 0 4em;">
  {% if clientLogo != null %}
    <img style="max-width: 100%; width: 450px; margin-top: 4em;" src="../../images/{{ clientLogo }}" title="{{ clientName }}" alt="" />
  {% else %}
    <h1>{{ clientName }}</h1>
  {% endif %}

  <h1>{{ clientName }}'s Living Styleguide</h1>

  <p>The style guide primarily acts to establish and maintain consistent design patterns across a project.</p> 
  <p>It also serves as a communication tool; communicating code and content decisions between the strategists, designers, and developers on a project, communicating content strategy and best practices to stakeholders and content creators, and communicating project progress and design to stakeholders.</p>

</div>
