.grid-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.grid-container {
  display: grid;
  grid-template-columns: var(--spacer-md, 10px) repeat(12, 1fr) var(--spacer-md, 10px);
  grid-template-areas: ". col1 col2 col3 col4 col5 col6 col7 col8 col9 col10 col11 col12 .";
  grid-gap: 10px;
}

.grid-col-1 > * {
  grid-column: col1 / col12;
}

.grid-col-3 {
  display: grid;
  grid-gap: var(--spacer-lg);

  @include breakpoint($bp-med-2) {
    grid-template-columns: repeat(3, minmax(auto, calc(100% / 3)));
  }
}
