nav > ul {
	padding: 0;
}

/* Definition Lists */
dl {
	overflow: hidden;
	margin: 0 0 $space;
}

dt {
	font-weight: bold;
}

dd {
	margin-left: 0;
}

.list-unstyled {
  list-style: none;
  padding: 0;
  margin: 0;
}