/* Text-Related Elements */ 
p {
	margin-bottom: $space;
}

.lead {
  font-size: $font-size-large;
  font-weight: 300;
}

/* Blockquote */
blockquote {
  border-left: 1px solid $gray;
  color: $gray;
	padding-left: $pad;
	margin-bottom: $space;
}

/* Horizontal Rule */ 
hr {
	border: 0;
  height: 2px;
  background: $gray;
  margin: $space-double 0;
}

abbr {
  border-bottom: 1px dotted $gray;
  cursor: help;
}

/* Alignment */
.text-right {
  text-align: right;
}


/* Address */
address {
  font-style: normal;
  margin-bottom: 1em;
  & > p {
    margin: 0;
  }
}
