.pdp-tabs-container {
  position: relative;
  .pdp-tabs-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    label {
      cursor: pointer;
      position: relative;
      left: 10px;
      display: inline-block;
      padding: 2.2em 4em 1.6em 2em;
      margin: 0 -0.6em;
      color: inherit;
      text-decoration: none;  
      span {
        display: block;
      }
    }
    label::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: .5em;
      left: 0;
      z-index: -1;
      border-radius: 10px 10px 0 0;
      background: #eee;
      box-shadow: 0 2px rgba(255,255,255,0.5) inset;
      transform: perspective(2em) rotateX(4deg);
      transform-origin: bottom left;
      border: .12em solid #ccc;
      border-bottom: 0px;
      &:hover {
        background: #f2f2f2;
      }
    }
  }
  input {
    display: none;
  }

  input[id="pdp-tab-1"]:checked ~ .pdp-tabs-wrapper .label-tab-1,
  input[id="pdp-tab-2"]:checked ~ .pdp-tabs-wrapper .label-tab-2,
  input[id="pdp-tab-3"]:checked ~ .pdp-tabs-wrapper .label-tab-3 {
    color: #111;
    z-index: 2;
  }

  input[id="pdp-tab-1"]:checked ~ .pdp-tabs-wrapper .label-tab-1::before,
  input[id="pdp-tab-2"]:checked ~ .pdp-tabs-wrapper .label-tab-2::before,
  input[id="pdp-tab-3"]:checked ~ .pdp-tabs-wrapper .label-tab-3::before {
    margin-bottom: -1px;
    border-top-width: 1px;
    background: white;
  }

  .pdp-tab {
    display: none;
    width: 100%;
    background: white;
    color: black;
    padding: 40px;
    p {
      text-align: left;
      padding: 0;
    }
  }

  hr.pdp-tab-line {
    position: absolute;
    top: 92px;
    left: 0;
    width: 100%;
    border: 1px solid #ccc;
  }

  input[id="pdp-tab-1"]:checked ~ .pdp-tab-1,
  input[id="pdp-tab-2"]:checked ~ .pdp-tab-2,
  input[id="pdp-tab-3"]:checked ~ .pdp-tab-3 {
    display: block;
    
  }
}

@media (max-width: map-get($grid-breakpoints, "sm")) {
  .pdp-tabs-container {
    .pdp-tab {
      padding: 0px;
    }
    .pdp-tabs-wrapper {
      width: 100vw;
      // display: flex;
      // flex-direction: row;
      position: relative;
      left: -34px;
    }
    .pdp-tabs-wrapper {
      label {
        font-size: 0.85em;
        padding: 1em 1.5em;
      }
      label::before {
        border-radius: 0px;
        transform: none;
        transform-origin: none;
      }
    }
    hr.pdp-tab-line {
      top: 51px;
    }
  }
}
