.header__search {
  @include breakpoint($bp-med) {
    position: absolute;
    top: -2.75em;
    right: 0;
  }
}

.search-block-form {
  display: flex;
  justify-content: flex-start;

  .button {
    padding: 0 .5em;
  }

  input {
    padding: .5em;
  }

  @include breakpoint($bp-med) {
    justify-content: flex-end;
  }
}
