.button {
  display: inline-block;
  font-weight: 600;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: none;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  line-height: 1.5;
  background-color: $california-gold;
  @include transition(all, 0.1s, ease-out);

  &:hover,
  &:focus {
    background-color: $berkeley-blue;
  }
}

a.button {
  color: $berkeley-blue;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $white;
  }
}

.button-small {
  font-size: 1em;
  padding: .5em 1em;
}
