.button, input[type=submit] {
  display: inline-block;
  font-weight: 600;
  color: $california-gold;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: none;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  line-height: 1.5;
  background-color: $berkeley-blue;
  @include transition(all, 0.1s, ease-out);
  &:hover,
  &:focus {
    filter: brightness(50%);
    cursor: pointer;
  }
}

a.button, input[type=submit] {
  color: $california-gold;
  text-decoration: none;

  &:hover,
  &:focus {
    filter: brightness(50%);
    cursor: pointer;
  }
}

.button-small {
  font-size: 1em;
  padding: .5em 1em;
}

.more-link-container {
  text-align: right;
  a.more-link {  
    color: $black;
    font-family: $font-bold;
    text-transform: uppercase;
  }
}

@media (max-width: $bp-med) {
  a.button, .button, input[type=submit] {
    width: 100%;
  }
}
