.panorama {
  position: relative;
}

.panorama-content {
  position: absolute;
  width: 350px;
  color: $white;
  padding: 2em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0,50,98,.85);

  @include breakpoint($bp-small-3) {
    top: 50%;
    left: 2em;
    transform: translateY(-50%);
  }
}

.panorama-content--cta {
  margin-top: 1.5em;
}
