
.switch-wrapper {
  display: flex;
  justify-content: start;
  align-items: center;
}
.switch-wrapper label {
  margin: 0 0 0 15px;
  font-size: 0.85em;
  font-weight: 500;
}
.switch-container {
  border-radius: 34px;
  border: 0;
  background-color: #ccc; 
  display: inline-block;
  height: 23px;
  position: relative;
  width: 40px;
  margin: 10px 0;
  transition: .4s;
}
.switch-container.checked {
  background-color: #408BFA;
}
button.switch span {
  border-radius: 50%;
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 15px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 15px;
  font-size: 0;
}
button.switch.checked span {
  transform: translateX(17px);
}
