<div class="switch-wrapper" id="filter-featured--programs">
  <button aria-controls="spocc-programs-list" 
          aria-pressed="false" 
          class="switch switch-container">
          <span>off</span>
          <span>on</span>
  </button>
  <label class="switch" for="filter-featured--programs---button">Featured Programs Only</label>
</div>