#block-haasmainmenu {
  a,
  li {
    color: $white;
  }

  > ul.navbar-nav {
    @include breakpoint($bp-med) {
      display: flex;
    }

    > li {
      display: inline-block;
      margin-left: 5em;
      position: relative;
    }
  }

  .dropdown-menu {
    background-color: $berkeley-blue;
    width: 100%;
  }
}
