.navbar ul {
  list-style: none;
}

.main-menu {
  @include breakpoint($bp-med) {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
  }
}

.primary-navbar_submenu {
  
  @include breakpoint($bp-med) {
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    padding: 2em 0;
    justify-content: space-between;
    top: 100%;
    left: 0;
    right: 0;
  }
}

.megamenu-wrapper {
  
  @include breakpoint($bp-med) {
    flex: 1 0 33%;
    padding-right: $spacer * 2;
    margin-right: $spacer * 2;
    border-right: 1px solid grey;
    
    &:last-child {
      border-right: 0;
      margin-right: 0;
    }
  }
}

.menu-link.dropdown:not(.show) {
  
  .primary-navbar_submenu {
    display: none;
    visibility: hidden;
  }
}

// Drupal nav styling
#block-mainnavigation {

}

#block-mainnavigation ul[data-region="header"] {

  @include breakpoint($bp-med) {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: 0 auto;

    > li {
      display: inline-block;
      // margin-left: 5em;
    }
  }
}

.dropdown-menu {
  background-color: white;
  z-index: 1;

  @include breakpoint($bp-med) {
    display: none;
    position: absolute;
    right: 0;
    width: 98vw;
    max-width: 1200px;
    border: 1px solid gray;
    padding: 2em;
    margin-top: 1em;

    .layout--threecol-section {
      flex-wrap: nowrap;
    }

    .layout__region--first {
      border-right: 1px solid gray;
      padding-right: .5em;
      margin-right: 1em;
    }

    .layout__region--third {
      border-left: 1px solid gray;
      padding-left: .5em;
      margin-left: 1em;
    }
  }
}

ul.navbar-nav {
  // li.menu-depth-0::after {
    
  // }
  li.menu-depth-1:first-child {
    font-family: $font-bitter;
    color: $web-gray;
    font-size: 1.15em;
  }
}

nav > h2 {
  font-size: 1em;
}
button.menu__toggle::after {
  color: #c4820e;
  display: inline-block;
  font-size: 1.1em;
  margin-left: .255em;
  vertical-align: .255em;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
}

button.menu__toggle[aria-expanded="true"]::after {
  border-bottom: .3em solid;
  border-right: .3em solid transparent;
  border-top: 0;
  border-left: .3em solid transparent;
}

button.menu__toggle {
  background: transparent;
  border: none;
  padding: 1em;
  background-repeat: no-repeat;
  &:hover {
    cursor: pointer;
  }
}
